
a{
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}

.btn{
  position: relative;
  display:inline-block;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  box-shadow: 0;
  font-size: 14px;
  &:focus{
    outline: 0;
  }
}

.google-logo{
  vertical-align: middle;
  width: 20px;
  margin-right: 5px;
}
