*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

@import "partials/variables";
@import "partials/mixin";
@import "partials/common";
@import "partials/navbar";
@import "partials/header";
@import "partials/main";
@import "partials/footer";
